* {
    margin: 0;
    padding: 0;
}

:root {
    line-height: 150%;
}

body {
    background-image: url(assents/bg-image.jpg);
    background-size: cover;
}

img {
    border-radius: 16px;
}

.pagina {
    background-color: #F0E8C2;
    width: 800px;
    height: 1440px;
    padding: 24px;
    border-radius: 24px;
    margin: 48px auto 28px;
    box-sizing: border-box;

}

main {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    padding: 24px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
    color: #291B1A;
    margin-bottom: 4px;
}

h2 {
    font-size: 24px;
    color: #291B1A;
    padding-bottom: 8px;
}

p {
    color: #573A37;
}

.about p + p {
    margin-top: 12px;
}

section + section {
    margin-top: 24px;
}

ul {
    padding-left: 24px;
}

footer {
    color: #F0E8C2;
    text-align: center;
    padding-bottom: 48px;
}